<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DCA Sim</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>body{background-color: #56B174;}</style>
</head>
<body>
    <div class="container">
        <div class="row">            
                <form action="/dcaform/fill" method="POST">
                    <div class="mb-3">
                        <h2 class="text-center" style="background-color: #4E6C50;color: #F0ECCF; height: 6vh;">Fill out details</h2>
                        
                        <label class="form-label" style="font-size:large; color: black; font-weight: 500;">Ticker Symbol</label>
                        <small id="helpId" class="form-text text-white">(insert vaild ticker symbols from US stock market))</small><br>
                        <input type="text" class="form-control form-control-lg" name="ticker" id="" aria-describedby="helpId" placeholder="*eg.tsla*">
                        
                        <label class="form-label" style="font-size:large; color: black; font-weight: 500;">
                            Start date
                        </label>
                        <small id="helpId" class="form-text text-white">(Investment starting date)</small>
                        <input type="date" class="form-control form-control-lg" name="startDate" aria-describedby="helpId">
                        
                        <label class="form-label" style="font-size:large; color: black; font-weight: 500;">
                            End date
                        </label>
                        <small id="helpId" class="form-text text-white">(Investment ending date)</small>
                        <input type="date" class="form-control form-control-lg" name="endDate" aria-describedby="helpId">
                        
                        <label class="form-label" style="font-size:large; color: black; font-weight: 500;">
                            Interval (Days)
                        </label>
                        <small id="helpId" class="form-text text-white">(Intervals in which stocks are bought in days)</small>
                        <input type="number" class="form-control form-control-lg" name="investInterval" aria-describedby="helpId" placeholder="*eg. 7, 14, 30 days*">
                        
                        <label class="form-label" style="font-size:large; color: black; font-weight: 500;">
                            Amount (USD)
                        </label>
                        <small id="helpId" class="form-text text-white">(Amount of stock bought during each interval in USD)</small>
                        <input type="number" class="form-control form-control-lg" name="investAmount" aria-describedby="helpId" placeholder="*500*">
                        
                        <label class="form-label" style="font-size:large; color: black; font-weight: 500;">
                            Starting Amount (USD)
                        </label>
                        <small id="helpId" class="form-text text-white">(Inititial investment amount in USD)</small>
                        <input type="number" class="form-control form-control-lg" name="initialAmount" aria-describedby="helpId" placeholder="*0*">
                        
                        <button type="submit" class="button3" style="margin-top: 10px; width: 100%;">Submit</button>
                    </div>
                </form>            
        </div>        
    </div>

    <div class="container">
        <div class="row">
            <table style="background-color: black; width: auto;" border="2">
                <tr style="background-color: #4E6C50;color:#F0ECCF;">
                    <th width="100px">Ticker</th>
                    <th width="100px">Start Date</th>
                    <th width="100px">End Date</th>
                    <th width="100px">Duration</th>
                    <th width="100px">Initial Amount</th>
                    <th width="100px">Invest Amount</th>
                    <th width="100px">Invest Interval</th>
                    <th width="100px">Repetitions</th>
                    <th width="100px">Quantity</th>
                    <th width="100px">Avg Cost</th>
                    <th width="100px">Last Price</th>
                    <th width="100px">Invest Total</th>
                    <th width="100px">Portfolio Value</th>
                    <th width="100px">Profit / Loss</th>
                    <th width="100px"></th>
                </tr>
                <tr data-th-each="i:${dcaList}" style="background-color: #F0ECCF;color:black;" align="center">
                    <td><span data-th-text="${i.ticker}"></span></td>
                    <td><span data-th-text="${i.startDate}"></span></td>
                    <td><span data-th-text="${i.endDate}"></span></td>
                    <td><span data-th-text="${i.duration}"></span></td>
                    <td>$<span data-th-text="${#numbers.formatDecimal(i.initialAmount,1,2)}"></span></td>
                    <td>$<span data-th-text="${#numbers.formatDecimal(i.investAmount,1,2)}"></span></td>
                    <td><span data-th-text="${i.investInterval}"></span></td>
                    <td><span data-th-text="${i.repetitions}"></span></td>
                    <td><span data-th-text="${#numbers.formatDecimal(i.quantity,1,2)}"></span></td>
                    <td>$<span data-th-text="${#numbers.formatDecimal(i.avgCost,1,2)}"></span></td>
                    <td>$<span data-th-text="${#numbers.formatDecimal(i.lastPrice,1,2)}"></span></td>
                    <td>$<span data-th-text="${#numbers.formatDecimal(i.investTotal,1,2)}"></span></td>
                    <td>$<span data-th-text="${#numbers.formatDecimal(i.portValue,1,2)}"></span></td>
                    <td>$<span data-th-text="${#numbers.formatDecimal(i.profitLoss,1,2)}"></span></td>
                    <td hidden>ID</td>
                    <td>
                        <form action="/dcaform/delete" method="DELETE">
                            <button type="button" class="btn btn-outline-primary">Delete</button>
                        </form>
                    </td>
    
                </tr>

            </table>

        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>