<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>body{background-color: #56B174;}</style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="images/monkeyTyping.gif" alt="under devlopment" width="60%">
                <h1 class="text-center" style="color: darkgreen;">*under developement*</h1>
                <h4 class="text-center" style="color: black;">Our army of coding monkeys are doing their best</h4>
            </div>
        </div>

    </div>
</body>
</html>